<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="utf-8">
  <!-- Mobile-friendly viewport-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0"> 

   <!-- Style sheet links -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">	
	<link href="https://fonts.googleapis.com/css?family=Merriweather" rel="stylesheet">

</head>
<body>
	<%= render 'users/shared/links' %>
	<main>
		<div class="row header">
			<p><img class="logo" src="http://downloadicons.net/sites/default/files/hold-it-in-your-hand-on--heart-icon-85655.png"/> Here 4 You</p>
			<div class="background-img"><img class="header-image" src=""/></div>
		</div>
		<div class="row descrip">
			<div class="descrip-content">
				<div class="row survey">
					<img src="http://www.dfwlaborlawyer.com/wp-content/themes/atkerson-responsive-gall/images/what-to-do.jpg"/>
					<p>"Out of 2,235 women who said they’ve experienced workplace sexual harassment, 29 percent reported the issue while 71 percent did not. According to the survey, the field with the highest levels of reported sexual harassment is food and service hospitality."<br />
					<a href="http://www.huffingtonpost.com/2015/02/19/1-in-3-women-sexually-harassed-work-cosmopolitan_n_6713814.html" target="_blank">Read more on article here</a></p>
				</div>
				<h1><b>Tell us about your issue through many different channels</b></h1>
				<div class="icons">
					<i class="fa fa-slack" aria-hidden="true"></i>
					<i class="fa fa-facebook" aria-hidden="true"></i>
					<i class="fa fa-twitter" aria-hidden="true"></i>
				</div>
			</div>
		</div>
		<div class="row form">
			<div class="form-content">
				<h3>You can also submit your issue here</h3>
				<p>None of the fields are mandatory. Skip any field if you aren't comfortable sharing.</p>
				<%= form_for Report.new, remote: true, id: 'new_report' do |f| %>
					<p>
						Which city are you in?
						<%= f.text_field :location %>
					</p>
					<p>
						What industry are you in?
						<%= f.text_field :industry %>
					</p>
					<p>
					 Tell us what happend:
					<%= f.text_field :contents %>
					</p>
					<p>
						Would you be able to tell us which company is it? 
					<%= f.text_field :company_name %>
					</p>
					<% if current_user %>
						<% f.hidden_field :user_id_id, value: current_user.id %>
					<% end %>
					<%= f.submit "Submit" %>
				<% end %>
			</div>
			<p id='confirm_submit'>Thank you submitting the report!</p>
		</div>
		<div class="row users">
			<div class="users-content">
				<h2>Meet some of our mentors here to help you</h2>
				<div class="container user-grid">
					<%@users.each do |u|%>
					<div class="user">
						<img class="img-circle" src="<%= u.picture%>"/></br>
	                    <h4><%= u.nick_name %></h4>
	                    <p><%= u.experties %></p>

	                </div>
	                <% end %>
				</div>	
			</div>
			
			
		</div>
	</main>
</body>


